<head>
    <title>
        Log in|HealthNet
    </title>
    <meta http-equiv="Content-type" content="text/html"; charset="utf-8" />
</head>

<div class="container">
<body>
{{state}}
<form action="/login/" method="post"> {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    username:
    <input type="text" name="username" value="{{ username }}" />
    password:
    <input type="password" name="password" value="" /> <br/>

    <input type="submit" value="Log In" />
</form>
<form action="/registration/" method = "post"> {% csrf_token %}
    <input type="submit" value="Register" />
</form>
<style>
    body {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 15px;
    }
</style>
</body>
</div>
</html>