<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <pre>
                        ***************************
                        *** ------------------- ***
                        *** | Page not found! | ***
                        *** ------------------- ***
                        ***************************




                         And now for the fun stuff!



  ________________________________________________________________________
  |:..                                                      ``:::%%%%%%HH|
  |%%%:::::..                    I n t r o                     `:::::%%%%|
  |HH%%%%%:::::....._______________________________________________::::::|

.    .        .      .             . .     .        .          .          .
         .                 .                    .                .
  .               A long time ago in a galaxy far, far away...   .
     .               .           .               .        .             .
     .      .            .                 .                                .
 .      .         .         .   . :::::+::::...      .          .         .
     .         .      .    ..::.:::+++++:::+++++:+::.    .     .
                        .:.  ..:+:..+|||+..::|+|+||++|:.             .     .
            .   .    :::....:::::::::++||||O||O#OO|OOO|+|:.    .
.      .      .    .:..:..::+||OO#|#|OOO+|O||####OO###O+:+|+               .
                 .:...:+||O####O##||+|OO|||O#####O#O||OO|++||:     .    .
  .             ..::||+++|+++++|+::|+++++O#O|OO|||+++..:OOOOO|+  .         .
     .   .     +++||++:.:++:..+#|. ::::++|+++||++O##O+:.++|||#O+    .
.           . ++++++++...:+:+:.:+: ::..+|OO++O|########|++++||##+            .
  .       .  :::+++|O+||+::++++:::+:::+++::+|+O###########OO|:+OO       .  .
     .       +:+++|OO+|||O:+:::::.. .||O#OOO||O||#@###@######:+|O|  .
 .          ::+:++|+|O+|||++|++|:::+O#######O######O@############O
          . ++++: .+OO###O++++++|OO++|O#@@@####@##################+         .
      .     ::::::::::::::::::::++|O+..+#|O@@@@#@###O|O#O##@#OO####     .
 .        . :. .:.:. .:.:.: +.::::::::  . +#:#@:#@@@#O||O#O@:###:#| .      .
                           `. .:.:.:.:. . :.:.:%::%%%:::::%::::%:::
.      .                                      `.:.:.:.:   :.:.:.:.  .   .
           .                                                                .
      .
.          .                                                       .   .
                                                                             .
    .        .                                                           .
    .     .                                                           .      .
  .     .                                                        .
              .   A terrible civil war burns throughout the  .        .     .
                 galaxy: a rag-tag group of freedom fighters   .  .
     .       .  has risen from beneath the dark shadow of the            .
.        .     evil monster the Galactic Empire has become.                  .
   .             Imperial  forces  have  instituted  a reign of   .      .
             terror,  and every  weapon in its arsenal has  been
          . turned upon the Rebels  and  their  allies:  tyranny, .   .
   .       oppression, vast fleets, overwhelming armies, and fear.        .  .
.      .  Fear  keeps  the  individual systems in line,  and is the   .
         prime motivator of the New Order.             .
    .      Outnumbered and outgunned,  the Rebellion burns across the   .    .
.      vast reaches of space and a thousand-thousand worlds, with only     .
    . their great courage - and the mystical power known as the Force -
     flaming a fire of hope.                                    .
       This is a  galaxy  of wondrous aliens,  bizarre monsters,  strange   .
 . Droids, powerful weapons, great heroes, and terrible villains.  It is a
  galaxy of fantastic worlds,  magical devices, vast fleets, awesome machi-  .
 nery, terrible conflict, and unending hope.              .         .
.        .          .    .    .            .            .                   .
               .               ..       .       .   .             .
 .      .     T h i s   i s   t h e   g a l a x y   o f   . . .             .
                     .              .       .                    .      .
.        .               .       .     .            .
   .           .        .                     .        .            .
             .               .    .          .              .   .         .
               _________________      ____         __________
 .       .    /                 |    /    \    .  |          \
     .       /    ______   _____| . /      \      |    ___    |     .     .
             \    \    |   |       /   /\   \     |   |___>   |
           .  \    \   |   |      /   /__\   \  . |         _/               .
 .     ________>    |  |   | .   /            \   |   |\    \_______    .
      |            /   |   |    /    ______    \  |   | \           |
      |___________/    |___|   /____/      \____\ |___|  \__________|    .
  .     ____    __  . _____   ____      .  __________   .  _________
       \    \  /  \  /    /  /    \       |          \    /         |      .
        \    \/    \/    /  /      \      |    ___    |  /    ______|  .
         \              /  /   /\   \ .   |   |___>   |  \    \
   .      \            /  /   /__\   \    |         _/.   \    \            +
           \    /\    /  /            \   |   |\    \______>    |   .
            \  /  \  /  /    ______    \  |   | \              /          .
 .       .   \/    \/  /____/      \____\ |___|  \____________/  LS
                               .                                        .
     .                           .         .               .                 .
                .                                   .            .


             ._,.
           "..-..pf.
          -L   ..#'
        .+_L  ."]#
        ,'j' .+.j`                 -'.__..,.,p.
       _~ #..<..0.                 .J-.``..._f.
      .7..#_.. _f.                .....-..,`4'
      ;` ,#j.  T'      ..         ..J....,'.j`
     .` .."^.,-0.,,,,yMMMMM,.    ,-.J...+`.j@
    .'.`...' .yMMMMM0M@^=`""g.. .'..J..".'.jH
    j' .'1`  q'^)@@#"^".`"='BNg_...,]_)'...0-
   .T ...I. j"    .'..+,_.'3#MMM0MggCBf....F.
   j/.+'.{..+       `^~'-^~~""""'"""?'"``'1`
   .... .y.}                  `.._-:`_...jf
   g-.  .Lg'                 ..,..'-....,'.
  .'.   .Y^                  .....',].._f
  ......-f.                 .-,,.,.-:--&`
                            .`...'..`_J`
                            .~......'#'
  Ray Brunner               '..,,.,_]`     Sienar Fleet Systems' TIE/In
                            .L..`..``.     Space Superiority Starfighter


                                   A
                                   M
                                   M
                                   M
                                   M
                                   M
                                   M
                                   M
                                  /M\
                                 '[V]'
                                  [A]
                                 [,-']
                                 [/"\]
                                 / _ \
                                / / | \
                               / /_O_| \
                              /______|__\
                              |=_==_==_=|
                              |  |   |  |
                             V|  |.V.|__|V
                             A|  |'A'| =|A
                              |__|___|= |
                              |__|___| =|
                              |####|####|
                             |    o|     |
                             |     |     |
                             |     |     |
                            |      |      |
                            |      |      |
                            |      |      |
                           |       |       |
                           |       |       |
                           |-------|-------|
                          |        |        |
                          |        |        |
                          |___.____|____.___|
                         |                   |
                         |___________________|
                        /|HH|      |HH][HHHHHI
                        [|##|      |##][#####I
                        [|##|      |#########I
                        [|##|______|#######m#I
                        [I|||||||||||||||||||I
                        [I|||||||||||||||||||I
                        [|                   |
                        [|    H  H          H|
                        [|    H  H          H|
                        [|    \hdF          V|
                        [|     `'            |
                        [|    d##b          d|
                        [|    #hn           #|
                        [|     ""#          }|
                        [|    \##/          V|
                        [|                   |
                        [|     dh           d|
                        [|    d/\h          d|
                        [|    H""H          H|
                        [|    "  "          "|
                        [|________.^.________|
                        [I########[ ]########I
                        [I###[]###[.]########I
                        [I###|||||[_]####||||I
                        [####II####|        n |
                       /###########|         " \
                       ############|           |
                      /############|            \
                      ######"######|            |
                     /             |####### #####\
                     |             |#######.######
                    /              |##############\
                    |              |###############
                   /_______________|###############\
                   I|||||||||||||||||||||||||||||||I
                   I|||||||||||||||||||||||||||||||I
                   I|||||||||||||||||||||||||||||||I
                   I|||||||||||||||||||||||||||||||I
                   |                               |
                   |-------------------------------|
                   |                               |
                   | [                  U          |
                   | [                  N          |
                   | !                  I          |
                   | [                  T          |
                   | [                  E          |
                   | }                  D          |
                   |                               |
                   |                               |
                   | {                  S          |
                   | [                  T          |
                   | :                  A          |
                   | [                  T          |
                   | [                  E          |
                  /| {  /|              S    |\    |
                 | |   | |                   | |   |
                 | |   | |                   | |   |
                 | |   | |                   | |   |
                 |_|___|_|___________________|_|___|
                 | |   | |                   | |   |\
                 | |___| |___________________| |___|]
                 | |###| |###################| |###|]
                 | |###| |###################| |###|]
                 | |###| |""""""""""#########| |"""|]
                 | |###| |         |#########| |   |]
                  \|####\|---------|#########|/----|]
                   |#####|         |#########|     |/
                   |#####|         |#########|     |
                  /]##### |        | ######## |    [\
                  []##### |        | ######## |    []
                  []##### |        | ######## |    []
                  []##### |        | ######## |    []
                  []##### |        | ######## |    []
                   |#####|---------|#########|-----|
                   |#####|         |#########|     |
                   |#####|         |##H######|     |
                   |#####|         |##H######|     |
                   |#####|         |##H######|     |
                   |#####|_________|##H######|_____|
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |     ####"""""""  H            |
                   |     ####"""""""  H            |
                   |     """""""""""  H            |
                   |     """""""""""  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |                  H            |
                   |__________________H____________|
                   |                  H            |
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   I||||||||||||||||||H||||||||||||I
                   |#####|         |##H######|     |
                   |#####|         |##H######|     |
                   |#####|  H   H  |##H######|   H |
                   |#####|  H   H  |##H######|   H |
                   |#####|  H   H  |##H######|   H |
                   |#####|  \h_dF  |##H######|   Vm|
                   |#####|   `"'   |##H######|    "|
                   |#####|         |##H######|     |
                   |#####|  /###\  |##H######|   /#|
                   |#####|  #   '  |##H######|   # |
                   |#####|  \###\  |##H######|   \#|
                   |#####|  .   #  |##H######|   . |
                   |#####|  \###/  |##H######|   \#|
                   |#####|         |##H######|     |
                   |#####|    H    |##H######|     [
                   |#####|   dAh   |##H######|    H|
                   |#####|  dF qL  |##H######|   dF|
                   |#####|  HhmdH  |##H######|   Hm|
                   |#####|  H   H  [%]H#apx##|   H |
                   |#####|         |##H######|     |
                   |#####A         |##H######A     |
                   |####| |        |##H#####|#|    |
                   |####| |        |##H#####|#|    |
                   |###|   |       |##H####|###|   |
                   |###|   |       |##H####|###|   |
                   |##|     |      |##H###|#####|  |
                   |#-|     |      |##H###|#####|-_|
                _-"==|       |     |##H##|#######|=="-_
             _-"=[]==|       |     |##H##|#######|==[]="-_
            |========|_______|_____|##H##|#######|========|
            !=======|=========|____|##H#|=========|=======!
                    !=========! /#####\ !=========!
                     /#######\ /#######\ /#######\
                    d#########V#########V#########h
                    H#########H#########H#########H
                   |###########H#######H###########|
                   |###########|"""""""|###########| - The Saturn V
                    """""""""""         """""""""""


                                                                                                                                  _.
                                                                                                                            _.--"' |
                                                                                                                      _.--"'       |
                                                                                                                _.--"'      _..,.  |
                                                                                                          _.--"'            .==; '.|
                                                                                                    _.--"'                     :   |'.
                                                                                              _.--"'                            ;  |  '.
                                                                                        _.--"'                                  :  |    '.
                                                                                  _.--"'                                         ; |      '.
                                                                            _.--"'                         _.                    : |        '.
                                                                      _.--"'                         _.--^"  :                   q I     --mmm--
                                                                _.--"'                              ;      _,.;_                 |_I____._\___/___._.__
                                                          _.--"'                                    :_.--^"   :_]                |______|     ==" " "_|'
                                                  |__.--"'                                           ;         ;|                |;I H| |_______'(|)|
                                              .   | :                                                :     _   :|                |:I_H|_|______[ '._|    _.---.______
                                              I   | ;             ,    \                    \         ;__ [_]___;                |||____________| '_|    \|   ;""         |
                       ______.---._    ______ I  /|:        \     ;\    \                    \      ,d.-^'|| '-.b.     ___       L| I|  |"  |   |_[_|_X__[|___:_,.-^>_.---.______             /|
;                          "":"|'|/    _\--/  I_/_|;         \    :/\ __nm__                _nm   _d______||______b.__EEEE3       | I|__| m |___|__H_____|_ m__|'^|"  \|  ;""                //|
;      ______.---._<^-.,_____;___|]__\|____|_|I___|] .--_____nm____; |_dHH|_|.-           |dHH|_|,-======''==_===;===|====|______|_I|__|_W_|___|__H_____^__W__|__|____|___:___,.--._nnn__m__//_o
:\         "":   |/ "|  |   __ m ___ .d88b. H m m || |_|-|-|-|-|-|-|  H*''|  .mmmmmmmmm^^" '|m[]H"m""""""|   |_| []  [_]   /*  *  * * * * *|_|'"7 | *  *   *   *   *  *  *  *  *  *     .V.    ;
:_\__,.,_n_m_;___|]_I|_[|__[__]W_____'Y88P'_H_W_W_||_|_|_|_|_|_|_|_|__H&[]|_____^MMMM^______|W__H%$&$__I_____ -'________.-'                | | /  |                                    ^(8)-  ;
|<    H  * * *  * *  * *  *  * *  * * * * * * * *  *  *  *  *  *   *   *  *  *  *                                                                                       *  *  *   *  *       :
|  _|_H_|_                                           ___________________________________________________________________________________                           [Matzec]                 ;
'-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'   - A Destroyer



                 P___----....
                                ! __
                      ' ~~ ---.#..__ `  ~  ~    -  -  .   .:
                       `             ~~--.               .F~~___-__.
                       ;                   ,       .- . _!
                      ,                     '       ;      ~ .
                     ,        ____           ;      ' _ ._    ;
                    ,_ . - '___#,  ~~~ ---. _,   . '  .#'  ~ .;
                  =---==~~~    ~~~==--__     ; '~ -. ,#_     .'
                   '                     `~=.;           `  /
                                             '  '          '.
                    '                         '
            \                                  ' '            '
            `.`\    '                          . ;             ,
              \  `  '                            '             ;
               ;   '                           '               '
             /_ .,                           /   __...---./   '
             ',_,   __.--- ~~;#~ --..__    _'.-~;#     //  `.'
             / / ~~ .' .     #;         ~~  /// #;   //   /
           /    ' . __ .  ' ;#;_ .        ////.;#;./ ;  /
           \ .        /    ,##' /   _   /. '(/    ~||~\'
            \  ` - . /_ . -==-  ~ '   / (/ '     . ;;. ',
           /' .       ' -^^^...--- ``(/'    _  '   '' `,;
##,. .#...(       '   .c  c .c  c  c.    '..      ;; ../
%%#%;,..##.\_                           ,;###;,. ;;.:##;,.    raf
%%%%########%%%%;,.....,;%%%%%%;,.....,;%%%%%%%%%%%%%%%%%%%%............ - Spanish galleon


____________  ____/--\____
\______ ___) ( _ ____     )     "Damn it Jim!,
    _ | |____/ /      `--'      I'm a programmer not a Doctor!"
   )           `|=(-
    \----------'

            *-*,
        ,*\/|`| \
        \'  | |'| *,
         \ `| | |/ )
          | |'| , /
          |'| |, /
        __|_|_|_|__
       [___________]
        |         |
        |         |
        |         |
        |_________| - A cactus

 __     __           _               _          _ _       _     _ _       _
 \ \   / /          | |             | |        (_) |     (_)   | (_)     | |
  \ \_/ /__  _   _  | |__  _ __ ___ | | _____   _| |_     _  __| |_  ___ | |_
   \   / _ \| | | | | '_ \| '__/ _ \| |/ / _ \ | | __|   | |/ _` | |/ _ \| __|
    | | (_) | |_| | | |_) | | | (_) |   <  __/ | | |_ _  | | (_| | | (_) | |_
    |_|\___/ \__,_| |_.__/|_|  \___/|_|\_\___| |_|\__( ) |_|\__,_|_|\___/ \__| - You broke it, idiot





    </pre>
</head>
<body>

</body>
</html>