{% block title %}
<title>Registration|HealthNet</title>
{% endblock %}
{% block content %}
<div class="column">
    <h1>Registration</h1>
    <form method="post" action=".">{% csrf_token %}
        {% comment %}  {{ form }} for some reason this doesnt want to work formatted. {% endcomment %}
        {% for f in form %}
        <br>
        {{f.name}} : {{f}}
        <br>
        {% endfor %}
        <p>Enter 0 if a patient</p>
        <br>
        <input type="Submit" value="Register">
    </form>
</div>
<style>
    form {
    font-style: italic;
    font-size: 15px;
    }
</style>
{% endblock %}