{% block title %}
<title>My Appointments | HealthNet</title>
{% endblock %}
{% block content %}
<div>
    <h1>Appointment</h1>
    {% csrf_token %}
    {% for apt in appointment %}
        <p> Username: {{  apt.doctor  }}</p>
        <p>Title: {{apt.title}}</p>
        <p>Description: {{apt.description}}</p>
        <p>Date: {{apt.date}}</p>
    {% endfor %}
</div>
<form action="/doctors/{{user_id}}/" method="post"> {% csrf_token %}
    <input type = "submit" value="Go back" />
</form>
<style>
    form {
    font-style: italic;
    font-size: 15px;
    }
</style>
{% endblock %}